@page
@model TheRealQuoteTool.AddQuoteModel
@{
    ViewData["Title"] = "Quotes";
}
<h1>Quotes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].totalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].totalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].dateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuoteModelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCreated)
                </td>
            </tr>
        }
    </tbody>
</table>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuoteModel.Client" class="control-label"></label>
                <input asp-for="QuoteModel.Client" class="form-control" />
                <span asp-validation-for="QuoteModel.Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.Author" class="control-label"></label>
                <input asp-for="QuoteModel.Author" class="form-control" />
                <span asp-validation-for="QuoteModel.Author" class="text-danger"></span>
                <!--</div>
    <div class="form-group">
        <label asp-for="QuoteModel.totalHours" class="control-label"></label>
        <input asp-for="QuoteModel.totalHours" class="form-control" />
        <span asp-validation-for="QuoteModel.totalHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuoteModel.totalCost" class="control-label"></label>
        <input asp-for="QuoteModel.totalCost" class="form-control" />
        <span asp-validation-for="QuoteModel.totalCost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuoteModel.dateCreated" class="control-label"></label>
        <input asp-for="QuoteModel.dateCreated" class="form-control" />
        <span asp-validation-for="QuoteModel.dateCreated" class="text-danger"></span>
    </div>-->
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>