@page
@model TheRealQuoteTool.AddQuoteModel
@{
    ViewData["Title"] = "Quotes";
}
<h1>Quotes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].totalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].totalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteModelList[0].dateCreated) | ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuoteModelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCreated) | @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <form method="post" asp-page-handler="NewTask">
                        <input type="hidden" name="ID" value="@item.ID">
                        <button class="btn btn-outline-primary">Add Task</button>
                    </form>
                </td>
            </tr>
            @foreach (var foo in Model.TaskModelList)
            {
                if (foo.quoteID == item.ID)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => foo.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => foo.totalHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => foo.totalPrice)
                        </td>
                        <td>
                            <form method="post" asp-page-handler="RemoveTask">
                                <input type="hidden" name="ID" value="@item.ID">
                                <button class="btn btn-outline-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="QuoteModel.Client" placeholder="Client" class="form-control" required/>
                <span asp-validation-for="QuoteModel.Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="QuoteModel.Author" placeholder="Author" class="form-control" required/>
                <span asp-validation-for="QuoteModel.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create New Quote" class="btn btn-primary" asp-page-handler="NewQuote"/>
            </div>
        </form>
    </div>
</div>